/*.title{
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}

.bbtt{
    font-size: 50px;
*/



/*project community above*/

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .center-col {
    flex: 1;
    background: #aaa;
    overflow-y: scroll;
  }
  
  .right-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e7e7;
  }






