.main{
  padding-top: 120px;
  background-image: url("G:\Plant-Disease-Detection\web\web\src\Resources\leaf.webp");
}

.input-bar{
  padding: 30px;
}
.title{
    font-size: 50px;
    font-family: "poppins", "sans-serif";
    font-weight: 800;
    text-align: center;
}

.input {
  text-align: centers;
}

.card {
  padding-top: 50px;
}
.card  h1 {
  font-family: "poppins", "sans-serif";
  font-weight: 600;
  text-align: center;
}

.card h5 {
  padding-top: 30px;
  font-weight: 500;
  font-family: "poppins", "sans-serif";
  text-align: left;
}

/* ================MEDIA QUERIES (SMALL DEVICES)======================*/

@media screen and (max-width: 600px) {
  .main {
    padding: 0px;
  }
}





